# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Databricks
*.dbc

# Jupyter
.ipynb_checkpoints/

# Spark / Delta temporários
_checkpoint/
_checkpoints/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temp
tmp/
temp/

# Credentials
.env
.env.*